@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

body {
	scroll-behavior: smooth;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/*------------------------------------*/
.container {
	margin: 0 auto;
	width: 100%;
	height: auto;
	max-width: 1440px;
}

* {
	font-family: Gilroy, sans-serif;
	font-size: 18px;
	color: #fff;
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

h1 {
	font-size: 32px;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100px;
	background-color: #403C3B;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 70px;
}

.header__logo img {
	margin: 0px 0px 0px 27px;
}

.header__search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	max-width: 555px;
	margin: 0px 0px 0px -34px;
}

.search-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	max-width: 555px;
	height: 52px;
	border-radius: 10px;
	padding: 0 15px;
	background-color: #504B4A;
}
.search-field input {
	font-family: Gilroy, sans-serif;
	background-color: #504B4A;
	color: #CFCFCF;
	width: 100%;
	margin: 10px;
	outline: none;
}

.header__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px 0px 0px;
}
.header__contacts p {
	font-size: 12px;
	color: #CFCFCF;
}
.header__contacts p a {
	font-size: 16px;
	font-weight: bold;
}

.contact__ico {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#618967), to(#72A479));
	background: linear-gradient(#618967, #72A479);
}

.contact__ico:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#709e77), to(#82bb8a));
	background: linear-gradient(#709e77, #82bb8a);
}

.contact__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.contact__area a:hover {
	text-decoration: underline;
}

.header__cart {
	position: relative;
}

.cart-btn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
	width: 150px;
	height: 52px;
	border-radius: 10px;
	padding: 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#618967), to(#72A479));
	background: linear-gradient(#618967, #72A479);
	-webkit-transition: all 0.4s ease-in 0.4s;
	transition: all 0.4s ease-in 0.4s;
}
.cart-btn p {
	font-weight: 600;
	font-size: 14px;
}

.cart-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#709e77), to(#82bb8a));
	background: linear-gradient(#709e77, #82bb8a);
}

.line {
	position: relative;
	font-weight: 100;
	font-size: 40px;
	top: -2px;
}

.cart-num {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	background-color: #fff;
	border: solid 1px #fff;
	border-radius: 10px;
	padding: 1px 6px 1px 6px;
}

.intro {
	background-color: #211F20;
}
.intro .container {
	margin: 0 auto;
	padding: 0;
}

.intro__pic {
	position: relative;
	width: 100%;
	height: 484px;
}
.intro__pic img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.intro_bg {
	position: absolute;
	width: 80%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#211F20), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(90deg, #211F20, rgba(0, 0, 0, 0));
}

.intro_bg2 {
	position: absolute;
	width: 60%;
	height: 100%;
	right: 0;
	background: -webkit-gradient(linear, right top, left top, from(#211F20), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(270deg, #211F20, rgba(0, 0, 0, 0));
}

.intro-text {
	position: absolute;
	top: 80px;
	left: 90px;
}
.intro-text img {
	display: block;
	width: 100%;
	max-width: 600px;
}

.food-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	min-height: 80px;
	z-index: 15;
	background-color: #403C3B;
}
.food-menu .container {
	position: relative;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 100%;
	height: 100%;
}

#foodmenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #403C3B;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	z-index: 15;
}

.scroll__cart {
	position: relative;
	right: 20px;
	z-index: 20;
}

.food-menu__navwrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.food-menu__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.food-menu__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	margin: 0 30px;
	height: 80px;
	color: #CFCFCF;
}

.food-menu__item:hover,
.food-menu__item:target {
	color: #fff;
	border-bottom: 3px solid #618967;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.food-menu__item:active {
	border-bottom: 4px solid #6f9c75;
}

.current {
	color: #fff;
	border-bottom: 3px solid #618967;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + main {
	padding-top: 80px;
}

.food {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 120px 0px 120px 0px;
	width: 100%;
	height: auto;
}
.food .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.wrapper {
	background: -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#44403F));
	background: linear-gradient(0deg, #211F20, #44403F);
	width: 100%;
	height: 100%;
	min-height: 900px;
}

.foods > .food:target ~ .food:last-child,
.foods > .food {
	display: none;
}

.foods > :last-child,
.foods > .food:target {
	display: block;
}

.food__title {
	position: relative;
	margin: 0px 0px 40px 0px;
}

.food__title::before {
	position: absolute;
	content: "";
	width: 4px;
	height: 30px;
	top: 10px;
	left: -20px;
	background-color: #618967;
}

.food__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	height: auto;
}

.food__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-radius: 10px;
	background-color: #504B4A;
	min-width: 330px;
	min-height: 400px;
	width: 330px;
	height: 400px;
	margin: 10px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.food__item:hover {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.01);
	        transform: scale(1.01);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.food__item-pic {
	width: 100%;
	height: 100%;
	max-width: 330px;
	max-height: 230px;
}
.food__item-pic img {
	display: block;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.food__item-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
	padding: 20px;
}

.food__item-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 22px;
}
.food__item-title a:hover {
	text-decoration: underline;
}
.food__item-title p {
	font-size: 12px;
	color: #CFCFCF;
}

.food__item-text {
	font-size: 12px;
	color: #CFCFCF;
}

.food__item-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.food__item-footer p {
	margin: 0 10px;
}

.food__item-price {
	font-size: 20px;
}

.food__item-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.food__item-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 60px;
	height: 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#618967), to(#72A479));
	background: linear-gradient(#618967, #72A479);
	font-weight: 700;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
}

.food__item-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#709e77), to(#82bb8a));
	background: linear-gradient(#709e77, #82bb8a);
}

.us {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 9;
	position: relative;
	bottom: -100px;
}
.us .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.us__wrap {
	background-color: #000;
	width: 100%;
	height: 650px;
	margin: 0 30px;
}

.us__pic {
	position: relative;
	width: 100%;
	height: 100%;
}
.us__pic img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.us__pic-bg {
	position: absolute;
	width: 40%;
	height: 100%;
	background-color: #211F20;
}

.us__pic-bg2 {
	position: absolute;
	left: 40%;
	width: 60%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#211F20), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(90deg, #211F20, rgba(0, 0, 0, 0));
}

.us__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 70px;
}

.us__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: 550px;
}

.area-title {
	margin: 30px 0;
}

.area-text {
	position: relative;
	font-weight: 300;
	font-size: 20px;
	color: #CFCFCF;
	margin: 40 0px;
}

.area-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 40px 0;
	position: relative;
	font-size: 13px;
	font-weight: 600;
	padding: 20px;
	max-width: 220px;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.area-btn:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.3);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.us__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin: 0px 0px 0px 180px;
}

.us__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 230px;
	height: 230px;
	margin: 15px 10px;
	background-color: rgba(80, 75, 74, 0.8);
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
}

.us__icon:hover {
	background-color: rgba(80, 75, 74, 0.9);
	-webkit-backdrop-filter: blur(7px);
	        backdrop-filter: blur(7px);
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.icon_text {
	font-weight: 300;
}

#iconflash .icon_text {
	color: #7eb386;
}

.mapsec {
	position: relative;
}

#map {
	width: 100%;
}

.map-pic {
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.contacts {
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.contacts .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contacts__content {
	position: relative;
	top: 20px;
	left: -400px;
	width: 100%;
	height: 100%;
	background-color: #2E2B2C;
	border-radius: 15px;
	padding: 25px;
}

.contacts__title {
	margin: 0px 0px 20px 0px;
}
.contacts__title h1 {
	font-size: 30px;
}

.contacts__area {
	padding: 20px 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.adress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 10px 0px 10px 0px;
}

.adress__ico {
	margin: 0 20px;
}

.adress__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	max-width: 400px;
}

.adress__title {
	font-size: 14px;
	font-weight: 300;
	color: #CFCFCF;
}

.adress__text {
	font-size: 16px;
	font-weight: 500;
}

.contacts__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 20px 0px 20px 0px;
}

.contacts__bottom__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.contacts-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px;
	width: 230px;
	height: 60px;
	background: -webkit-gradient(linear, left top, left bottom, from(#618967), to(#72A479));
	background: linear-gradient(#618967, #72A479);
	border-radius: 10px;
	font-size: 13px;
	font-weight: 600;
	margin: 0px 30px 0px 0px;
}

.contacts-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#709e77), to(#82bb8a));
	background: linear-gradient(#709e77, #82bb8a);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.contacts-tel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 22px;
	font-weight: 700;
}

.bottom__society {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 20px 0px 0px 0px;
	font-weight: 600;
}
.bottom__society img {
	margin: 0px 5px 0px 10px;
}
.bottom__society a {
	margin: 0;
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 200px;
	background: linear-gradient(320deg, #44403F, #211F20);
}
footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#button-up {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 20px;
	font-weight: 700;
	position: relative;
	width: 70px;
	height: 70px;
	color: #000;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: #CFCFCF;
	border-radius: 50%;
}

#button-up:hover {
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: #fff;
}

.footer__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	max-width: 260px;
}
.footer__area img {
	width: 108px;
	height: 25px;
}

.footer__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 12px;
	color: #CFCFCF;
}
.footer__text a {
	font-size: 12px;
	color: #CFCFCF;
}
.footer__text a:hover {
	color: #fff;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.footer__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__nav a {
	margin: 40px;
	font-size: 18px;
	color: #CFCFCF;
}
.footer__nav a:hover {
	color: #fff;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.big-card {
	width: 100%;
	padding: 100px 0;
	display: none;
}
.big-card .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.big-card:target {
	display: block;
}

.big-card:target ~ .foods {
	display: none;
}

.big-card:target ~ .us {
	display: none;
}

.big-card__back {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.big-card__back p {
	font-size: 16px;
	font-weight: 700;
	margin: 20px;
}
.big-card__back p:hover {
	text-decoration: underline;
}

.back-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: -webkit-gradient(linear, left top, left bottom, from(#618967), to(#72A479));
	background: linear-gradient(#618967, #72A479);
}

.back-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#709e77), to(#82bb8a));
	background: linear-gradient(#709e77, #82bb8a);
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

.big-card__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 50px 0px 100px 0px;
	width: 100%;
	height: 500px;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
	background: linear-gradient(90deg, #494544, #504B4A);
}

.big-card__pic {
	width: 750px;
	height: 500px;
}
.big-card__pic img {
	width: 100%;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.big-card__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 25px;
	height: 100%;
}

.big-card__area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.big-card__area h1 {
	margin: 20px 0;
}
.big-card__area p {
	font-size: 14px;
	color: #CFCFCF;
	max-width: 400px;
}

.big-card__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.weignt {
	font-size: 14px;
	font-weight: 300;
	margin: 20px 0;
}

.big-card__bottom-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}
.big-card__bottom-area .food__item-price {
	font-size: 25px;
	font-weight: 700;
	margin: 0 30px;
}

.big-card__bju {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.bju__item {
	font-size: 13px;
	font-weight: 200;
	margin: 0 20px 0 0;
}
.bju__item p {
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	font-size: 13px;
	font-weight: 400;
}

.more {
	padding: 100px 0 0 0;
	border-top: solid 1px rgba(255, 255, 255, 0.1);
}