@import "null.scss";

.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1440px;
}

* {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    color: #fff;
}

html {
	height: 100%;
	width: 100%;
}

body {
    scroll-behavior: smooth;
	overflow-x: hidden;
	background: linear-gradient(0deg, #211F20, #44403F) no-repeat;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 32px;
}


// HEADER

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #403C3B;

    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 0 70px;
    }
}

.header__logo img {

    margin: 0px 0px 0px 27px;
}

.header__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 555px;

    margin: 0px 0px 0px -34px;
}

.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 555px ;
    height: 52px;
    border-radius: 10px;

    padding: 0 15px;

    background-color: #504B4A;

    input {
        font-family: Gilroy, sans-serif;
        background-color: #504B4A;
        color: #CFCFCF;

        width: 100%;
        margin: 10px;

        outline: none;
    }

}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 0px;

    p {
        font-size: 12px;
        color: #CFCFCF;

        

        a {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.contact__ico {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border-radius: 50%;

    margin: 0 10px;

    background: linear-gradient(#618967, #72A479);
}

.contact__ico:hover {
    background: linear-gradient(#709e77, #82bb8a);
}

.contact__area {
    display: flex;
    flex-direction: column;

    a:hover {
        text-decoration: underline;
    }
}

.header__cart {
    position: relative;
    
}

.cart-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 14px;

    width: 150px;
    height: 52px;

    border-radius: 10px;

    padding: 25px;

    background: linear-gradient(#618967, #72A479);
    transition:all 0.4s ease-in 0.4s;

    p {
        font-weight: 600;
        font-size: 14px;
    }
}

.cart-btn:hover {
    background: linear-gradient(#709e77, #82bb8a);
}

.line {
    position: relative;
    font-weight: 100;
    font-size: 40px;
    top: -2px;
}

.cart-num {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 12px;
    font-weight: 700;

    background-color: #fff;

    border: solid 1px #fff;
    border-radius: 10px;

    padding: 1px 6px 1px 6px;
}

.header__auto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	a {
		margin: 0 5px;
	}
}

// FOODMENU

.food-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    
    width: 100%;
    min-height: 80px;
    
    z-index: 15;

    .container {
		position: relative;
        flex-direction: row;
		width: 100%;
        height: 100%;
    }

}

#foodmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #403C3B;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border-top: solid 1px rgba(255, 255, 255, 0.1);

    z-index: 15;
}

.scroll__cart {
    position: relative;
    right: 20px;
}

.food-menu__navwrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-menu__nav {
    display: flex;
    flex-direction: row;

    align-items: center;

    flex-wrap: wrap;

    width: 100%;
    height: 100%;

}

.food-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: max-content;

    margin: 0 30px;
    
    height: 80px;
    color: #CFCFCF;
}

.food-menu__item:hover,
.food-menu__item:target {
    color: #fff;
    border-bottom: 3px solid #618967;
    transition: 0.1s;
}

.food-menu__item:active {
	border-bottom: 4px solid #6f9c75;
}

.current {
    color: #fff;
    border-bottom: 3px solid #618967;
    transition: 0.1s;

}

// MAIN TITLE

.main-title {
	margin: 100px 0px 0px 0px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		padding-left: 200px;
	}

	.title-pic {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	a {
		img {
			margin: 0px 10px 0px 0px;
		}
	}
}

.food__title {
    position: relative;
    margin: 10px 0px 40px 20px;
}

.food__title::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 30px;
    top: 10px;
    left: -20px;
    background-color: #618967;
}

// PRODUCTS

.products {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: auto;
	margin: 80px 0;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0 70px;
	}
}


.products__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.products__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 130px;

	padding: 20px;

	border-top: solid 1px rgba(255, 255, 255, 0.1);

	background: linear-gradient(90deg, #494544, #504B4A);
}

.products__list > :first-child {
	border-radius: 10px 10px 0 0;
	border-top: none;
}

.products__list > :last-child {
	border-radius: 0 0 10px 10px;
}

.products__list > :only-child {
	border-radius: 10px;
	border-top: none;
}

.products__item-pic {
	width: 120px;
	height: 90px;

	img {
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
	}
}

.products__item-area {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	max-width: 300px;
	position: relative;

	h2 {
		font-size: 18px;
	}

	p {
		font-size: 13px;
		font-weight: 300;
		color: #A6A7AB;
	}
}

.products__item-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	p {
		font-size: 20px;
		font-weight: 700;
	}
}

.item-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 27px;
	height: 27px;

	margin: 15px;

	border-radius: 50%;
	font-size: 20px;
	font-weight: 700;

	background-color: #72A479;
}

.item-btn:hover {
	background-color: #99b89e;
}


.products__item-price {
	font-size: 20px;
	font-weight: 700;
}

#delete {
	transform: rotate(45deg);
	background-color: #e45555;
}

#delete:hover {
	background-color: #dd6565;;
}

// ADD

.add {
	margin: 0px 0px 0px 0px;
}

.more {
	padding: 0 0 40px 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.food__list {
    display: flex;
	justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    height: auto;
}

.food__item {
    display: flex;
    flex-direction: column;

    border-radius: 10px;

    background-color: #504B4A;

    min-width: 330px;
    min-height: 400px;
    width: 330px;
    height: 400px;
    
    margin: 10px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.food__item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    transition: 0.1s;
}

.food__item-pic {
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 230px;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.food__item-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    padding: 20px;
}

.food__item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 12px;
        color: #CFCFCF;
        
    }
}

.food__item-text {
    font-size: 12px;
    color: #CFCFCF;
}

.food__item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0 10px;
    }
}

.food__item-price {
    font-size: 20px;
}

.food__item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.food__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 40px;

    background: linear-gradient(#618967, #72A479);

    font-weight: 700;
    font-size: 24px;

    border-radius: 10px;

	cursor: pointer;
}

.food__item-btn:hover {
    background: linear-gradient(#709e77, #82bb8a);
}

// CHECKOUT

.checkout {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding: 100px 0;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.checkout__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 800px;
	height: 130px;

	padding: 40px;

	border-radius: 10px;

	background: linear-gradient(90deg, #494544, #504B4A);
}

.checkout__price {
	display: flex;
	flex-direction: column;

	p {
		color: #CFCFCF;
	}
}

.checkout__btn {
	width: 230px;
	height: 60px;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#618967, #72A479);

	font-size: 18px;
	font-weight: 700;
}

.checkout__btn:hover {
	background: linear-gradient(#709e77, #82bb8a);
}




// FOOTER
footer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 200px;

	background: linear-gradient(320deg, #44403F, #211F20);
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

#button-up {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	font-weight: 700;

	position: relative;
	width: 70px;	
	height: 70px;	
	color: #000;
	transition: .3s;

	background-color: #CFCFCF;
	border-radius: 50%;
}
   
#button-up:hover {
	cursor: pointer;
	transition: .3s;

	background-color: #fff;
}

.footer__area {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	max-width: 260px;

	img {
		width: 108px;
		height: 25px;
	}
}
.footer__text {
	display: flex;
	flex-direction: column;

	font-size: 12px;
	color: #CFCFCF;

	a {
		font-size: 12px;
		color: #CFCFCF;
	}
	a:hover {
		color: #fff;
		transition: 0.1s;
	}
}
.footer__nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	a {
		margin: 40px;
		font-size: 18px;
		color: #CFCFCF;
	}
	a:hover {
		color: #fff;
		transition: 0.1s;
	}
}